{% include 'links.html' %}
<div class="row">
    <div class="nav-left text-center">
            <img class="h-50 w-50" src="../static/car/car.png" alt="">
    </div>
    <div class="nav-right  space-around h4">
        <div class="middle"><a class="under-line" href="/admin_home">Admin Home</a></div>
         <div class="middle"><a class="under-line" href="/add_view_locations">Locations</a></div>
        <div class="middle"><a class="under-line" href="/view_verify_car_owners">Car Owners</a></div>
         <div class="middle"><a class="under-line" href="/view_vehicles">Cars</a></div>
         <div class="middle"><a class="under-line" href="/view_bookings">Bookings</a></div>
        <div class="middle"><a class="under-line" href="/logout">Logout</a></div>
    </div>
</div>