{% include 'links.html' %}
<div class="row">
    <div class="nav-left text-center">
            <img class="h-50 w-50" src="../static/car/car.png" alt="">
    </div>
    <div class="nav-right  space-around h4">
        <div class="middle"><a class="under-line" href="/car_owner_home">Car Owner Home</a></div>
         <div class="middle"><a class="under-line" href="/add_vehicles">Add Vehicles</a></div>
        <div class="middle"><a class="under-line" href="/view_vehicles">View Vehicles</a></div>
        <div class="middle"><a class="under-line" href="/view_bookings">Bookings</a></div>
        <div class="middle"><a class="under-line" href="/logout">Logout</a></div>
    </div>
</div>